<% layout("layouts/boilerplate") %>
<h1>This is the single book page</h1>
<div class="single-layout">
  <div class="one-page">
    <img src="<%=one_book.image%> " />
    <div>The book is <%= one_book.title%></div>
    <div><%= one_book.ISB_code %></div>
  </div>
</div>
<br />
